{% load grocheris_extras %}

  <tr id="item-{{ item.id }}"{% if invisible %} style="display: none;"{% endif %}>
    <td class="item-row {% if item.is_out %}out{% else %}{% if item.is_low %}low{% endif %}{% endif %}">
      <div class="item-row-right">
	<div class="item-row-nav">
	  {% if show_low %}
	  <input id="item-{{ item.id }}-low-button" type="button" value="we're low" onClick="lowOn({{ item.id }})" {% if item.is_low %}disabled="disabled" {% endif %}/>
	  {% endif %}
	  {% if show_out %}
	  <input id="item-{{ item.id }}-out-button" type="button" value="we're out" onClick="outOf({{ item.id }})" {% if item.is_out %}disabled="disabled" {% endif %}/>
	  {% endif %}
	  {% if show_buy %}
	  <input id="item-{{ item.id }}-buy-button" type="button" value="bought it" onClick="buyItem({{ item.id }})" />
	  {% endif %}
	</div>
	<div>
	  votes: <div id="item-{{ item.id }}-vote-count" style="margin-right: 8px; display: inline;">{{ item.votes }}</div>
	</div>
      </div>

      <div class="item-row-name">
	<table>
	  <tr style="height: 100%;">
	    <td style="vertical-align: middle;">
	      <input id="{{ item.id }}" type="checkbox" />
	    </td>
	    <td style="vertical-align: middle;">
	      {{ item }}
	    </td>
	    <td class="item-row-vote" style="vertical-align: middle; visibility: hidden;">
	      <a href="" onClick="voteUp({{ item.id }}); return false;">
		<img class="item-row-vote-up" src="{% media 'up.png' %}" />
	      </a><br />
	      <a href="" onClick="voteDown({{ item.id }}); return false;">
		<img class="item-row-vote-down" src="{% media 'down.png' %}" />
	      </a>
	    </td>
	  </tr>
	</table>
      </div>

    </td>
  </tr>
