{% extends 'grocheris/base.html' %}

{% block script %}
{{ add_form.media }}
<script type="text/javascript">
    $(document).ready(function() {
	var options = {
	    url: '{% url add_item %}',
	    dataType: 'json',
	    success: addItemRow,
	    beforeSubmit: function(){}
	};

	$('#add_item_form').ajaxForm(options);

	$('.item-row, .item-row-nav').mouseenter(function() {
	    $('.item-row-nav', this).css('visibility', 'visible');
	}).mouseleave(function() {
	    $('.item-row-nav', this).css('visibility', 'hidden');
	});
    });

function addItemRow(data) {
    if (data) {
	var url = '{% url view_item item_id=0 %}'.replace('0', data['id']);
	$.post(url,
	       function(data) {
		   $('#item-table tr:first').after(data['html']);
		   $('#item-' + data['id']).mouseenter(function() {
		       $('.item-row-nav', this).css('visibility', 'visible');
		   }).mouseleave(function() {
		       $('.item-row-nav', this).css('visibility', 'hidden');
		   });
		   $('#item-' + data['id']).fadeIn('fast');
	       });
    }
}

function buyItem(id) {
    url = '{% url buy item_id=0 %}'.replace('0', id);
    $.post(url,
	   removeItemRow);
}

</script>
{% endblock %}

{% block title %}Shopping list{% endblock %}

{% block content %}

<h2>Shopping List</h2>

<div id="add-item" style="margin-top: 10px; margin-bottom: 10px;">
  <form id="add_item_form" method="post">
    {{ add_form }}
    <input type="submit" value="Add Item" />
  </form>
</div>

<input type="button" value="delete" onClick="deleteSelectedItems();" />
<input type="button" value="bought it" onClick="buySelectedItems();" />

<table id="item-table">
  <tr>
    <td class="item-row">
      <div class="item-row-name">
	<input type="checkbox" onClick="toggleSelection(this);" />
      </div>
    </td>
  </tr>
  {% if items %}
  {% for item in items %}
  {% include 'grocheris/item_row.html' %}
  {% endfor %}
  {% else %}
  <tr><td></td></tr>
  {% endif %}
</table>
  
{% endblock %}
