{% extends 'grocheris/base.html' %}

{% block script %}
<script type="text/javascript">
function lowOn(id) {
    var url = '/item/' + id + '/low/';
    $.post(url,
	   function (data) {
	       console.log('item was lowed');
	       $('#item-' + data['id']).addClass('low');
	   });
}

function outOf(id) {
    var url = '/item/' + id + '/out/';
    $.post(url,
	   removeItemRow);
}

function removeItemRow(data) {
    if (data) {
	console.log('item was outed');
	$('#item-' + data['id']).fadeOut('fast');
    }
}
</script>
{% endblock %}

{% block title %}Stuff we have{% endblock %}

{% block content %}

{% if items %}
<table>
  {% for item in items %}
  <tr><td id="item-{{ item.id }}">{{ item }} <a onClick="lowOn({{ item.id }})">we're low</a> <a onClick="outOf({{ item.id }});">we're out</a></td></tr>
  {% endfor %}
</table>
{% endif %}
  
{% endblock %}
