{% extends 'grocheris/base.html' %}

{% block document_ready %}
	options = {
	    url: '{% url add_item %}',
	    dataType: 'json',
	    success: addItemRow,
	    beforeSubmit: function(){}
	};

	$('#add_item_form').ajaxForm(options);

	$('.item-row, .item-row-nav').mouseenter(function() {
	    $('.item-row-nav', this).css('visibility', 'visible');
	}).mouseleave(function() {
	    $('.item-row-nav', this).css('visibility', 'hidden');
	});
{% endblock %}

{% block script %}
function addItemRow(data) {
    if (data) {
	if ($('#item-table').css('display') == 'none') {
	    $('#no-items').fadeOut('fast');
	    $('#item-table').fadeIn('fast');
	}
	    
	var url = '{% url view_item item_id=0 %}'.replace('0', data['id']);
	$.post(url,
	       function(data) {
		   $('#item-table tr:first').after(data['html']);
		   $('#item-' + data['id']).mouseenter(function() {
		       $('.item-row-nav', this).css('visibility', 'visible');
		   }).mouseleave(function() {
		       $('.item-row-nav', this).css('visibility', 'hidden');
		   });
		   $('#item-' + data['id']).fadeIn('fast');
	       });
    }
}

function removeShoppingListItemRow(data) {
    if (data) {
	if ($('#item-table tr').length == 2) {
	    $('#item-table').fadeOut('fast');
	    $('#no-items').fadeIn('fast');
	}
	removeItemRow(data);
    }
}

function buyItem(id) {
    url = '{% url buy item_id=0 %}'.replace('0', id);
    $.post(url,
	   removeShoppingListItemRow);
}
{% endblock %}

{% block title %}Shopping list{% endblock %}

{% block content %}

<h2>Shopping List</h2>

<div id="add-item" style="margin-top: 10px; margin-bottom: 10px;">
  <form id="add_item_form" method="post">
    {{ add_form.name.label }}: {{ add_form.name }}
    <input type="submit" value="Add Item" />
  </form>
</div>

<input type="button" value="delete" onClick="deleteSelectedItems();" />
<input type="button" value="bought it" onClick="buySelectedItems();" />

<h3 id="no-items"{% if items %} style="display: none;"{% endif %}>No items</h3>
<table id="item-table"{% if not items %} style="display: none;"{% endif %}>
  <tr>
    <td class="item-row">
      <div class="item-row-name">
	<input type="checkbox" onClick="toggleSelection(this);" />
      </div>
    </td>
  </tr>
  {% if items %}
  {% for item in items %}
  {% include 'grocheris/item_row.html' %}
  {% endfor %}
  {% else %}
  <tr><td></td></tr>
  {% endif %}
</table>
  
{% endblock %}
