{% extends 'grocheris/base.html' %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
	$('.item-row, .item-row-nav, .delete').mouseenter(function() {
	    $('.delete, .item-row-nav', this).css('visibility', 'visible');
	}).mouseleave(function() {
	    $('.delete, .item-row-nav, .delete', this).css('visibility', 'hidden');
	});
    });

function lowOn(id) {
    var url = '{% url low item_id=0 %}'.replace('0', id);
    $.post(url,
	   function (data) {
	       $('#item-' + data['id'] + '-low-button').attr('disabled', 'disabled');
	       $('#item-' + data['id']).addClass('low');
	   });
}

function outOf(id) {
    var url = '{% url out item_id=0 %}'.replace('0', id);
    $.post(url,
	   removeItemRow);
}

function removeItemRow(data) {
    if (data) {
	console.log('item was outed');
	$('#item-' + data['id']).fadeOut('fast');
    }
}
</script>
{% endblock %}

{% block title %}Stuff we have{% endblock %}

{% block content %}

<h2>Stuff we have</h2>

{% if items %}
<table id="item-table">
  {% for item in items %}
  <tr><td class="item-row {% if item.is_low %}low{% endif %}" id="item-{{ item.id }}">
      <div class="delete">
	<input type="button" value="delete" onClick="deleteItem({{ item.id }});" />
      </div>
      
      <div class="item-row-nav">
	<input id="item-{{ item.id }}-low-button" type="button" value="we're low" onClick="lowOn({{ item.id }})" {% if item.is_low %}disabled="disabled" {% endif %}/>
	<input id="item-{{ item.id }}-out-button" type="button" value="we're out" onClick="outOf({{ item.id }})" {% if item.is_out %}disabled="disabled" {% endif %}/>
      </div>

      {{ item }}
  </td></tr>
  {% endfor %}
</table>
{% endif %}
  
{% endblock %}
