{% extends 'grocheris/base.html' %}

{% block script %}
{{ add_form.media }}
<script type="text/javascript">
    $(document).ready(function() {
	var options = {
	    url: '/add_item/',
	    dataType: 'json',
	    success: addItemRow,
	    beforeSubmit: beforeForm
	};

	$('#add_item_form').ajaxForm(options);
    });

function addItemRow(data) {
    if (data) {
	row = '<tr><td id="item-' + data['id'] + '" style="display:none;">' +
	    data['name'] + ' <a href="#" onClick="buyItem(' + data['id'] + ');">bought it</a>' +
	    '</td></tr>';
	$('#items_table > tbody:first').prepend(row);
	$('#items_table td:first').fadeIn('fast');
    }
}

function removeItemRow(data) {
    if (data) {
	$('#item-' + data['id']).fadeOut('fast');
    }
}

function buyItem(id) {
    url = '/item/' + id + '/buy/'
    $.post(url,
	   removeItemRow);
}

function beforeForm() {
}
</script>
{% endblock %}

{% block title %}Shopping list{% endblock %}

{% block content %}

<form id="add_item_form" method="post">
  <table>
    {{ add_form.as_table }}
  </table>
  <input type="submit" value="Add Item" />
</form>

<table id="items_table">
  {% if items %}
  {% for item in items %}
  <tr><td id="item-{{ item.id }}">{{ item }} <a href="#" onClick="buyItem({{ item.id }});">bought it</a></td></tr>
  {% endfor %}
  {% endif %}
</table>
  
{% endblock %}
